.work{
  width: 100%;
  background: url(../img/bg-work.jpg);
  background-repeat: repeat;
}

.work__bg,
.about__bg,
.studio__bg{
  padding: 50px;
  background: rgba(#000, .5);
  @include phones{
    padding: 50px 10px;
  }
}

.work__title,
.about__title{
  margin-bottom: 50px;
}

.content{
  color:#777;
  width:100%;
  margin:20px auto;
}

#galleria{
  height: 500px;

  @include phones{
    height: 350px;
  }
}
