html, body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin-bottom: 0;
}

h2{
  @include tablets{
    font-size: 20px;
  }
  @include phones{
    font-size: 16px;
  }
}

h3{
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'Paddis_Handwritten';
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px blue, 0 0 35px blue, 0 0 40px blue, 0 0 50px blue, 0 0 75px blue;
}


p{
	font-weight: normal;
	font-style: normal;
  margin-bottom: 0;
  font-size: 16px;
  color: #fff;
  @include laptop{
    font-size: 14px;
  }
}

ul li{
  list-style: none;
}
