@import "scss/fontawesome";
@import "scss/brands";
@import "scss/regular";
@import "scss/solid";
@import "scss/v4-shims";

@font-face {
	font-family: 'Paddis_Handwritten';
	src: url('../font/Paddis_Handwritten.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
